.image-container {
  position: relative;
  display: inline-block; 
} 
.clickable-zone {

  position: absolute;
  top: 458px;   
  left: 1100px; 
  width: 10px; 
  height: 10px;
}
.clickable-zone:hover {
  border-radius: 80%;
  background-color: rgba(255, 0, 0, 0.3);
}