
/* grid*/
.bento{
    display:grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto auto auto;
    grid-template-areas:
        "a a a a c c"
        "d d e e c c"
        "d d f f f f";
    gap: 1rem;
    max-width: 1000px;
    margin: 0 auto;
    padding: 4px 0 16px; 
}

/* card*/
.bento_item .card{
    background: var(--bg-card);
    color: #fff;
    border-radius: 20px;
    box-shadow: 0 2px 14px rgba(0,0,0,.25);
    padding: 12px;
    min-height: 160px;
    display:grid;
    /* grid-template-columns: 1fr 120px; */
    grid-template-rows: auto auto auto;
    grid-template-areas:
        "title media"
        "text  media"
        "cta   media";
    gap: 1rem;
}

.column-card{
    grid-template-columns: 1fr 120px;
}

.card-mediaOnly{
    grid-template-columns: 1fr;
    grid-template-areas: "media";
}

/* title text btn cta */
.card_title{ grid-area:title; }

.card_text { 
    grid-area:text;  
    margin:0; 
    color: rgba(255,255,255,.85); 
    line-height:1.45; 
    font-size: var(--fs-400); 
}

.card_cta  {
    grid-area:cta; 
    justify-self:start;
    background: var(--link); 
    color:#fff; 
    font-weight:700;
	border: none;
	padding: 1rem 2rem;
	margin: 0.5rem 0;
	border-radius: 20px;
    transition: background 0.3s;
}

.card_cta:hover{ background: var(--linkv); }

/* img media */
.card_media{
    grid-area: media;
    width:100%; height:100%;
    min-height:100px;
    border-radius:14px;
    overflow: hidden;     
}

.card_media img{
    width: 100%; height: 100%;
    object-fit: cover; 
    object-position: center;
    display: block;
}

.card_media-tall{ min-height:280px; }

/* Grid areas  */
.a{ grid-area:a; }
.c{ grid-area:c; }
.d{ grid-area:d; }
.e{ grid-area:e; }
.f{ grid-area:f; }

/* img background*/
.c, .d {
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 2px 14px rgba(0,0,0,.25);
    padding: 0;
}

.bento_img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover; 
    object-position: center;
}

/* img a f */
.a .card_media,
.f .card_media{
    overflow: hidden;
    border-radius: 12px;
    width: 100%; 
    height: 100%;
    min-height: 100px;
    background: none;
}
.a .card_media img,
.f .card_media img{
    width: 100%; 
    height:100%;
    object-fit: cover; 
    object-position: center; 
    display:block;
}

.card,
.c img,
.d img {
  transition: transform 0.4s ease, box-shadow 0.4s ease;
}

.card:hover,
.c:hover img,
.d:hover img {
  transform: scale(1.02);
  box-shadow: 0 4px 18px rgba(0, 0, 0, 0.4);
}

/*for card with no img*/
.card-noMedia{
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: "title" "text" "cta";
    align-content: start;
}


/* responsive */
@media (max-width: 768px){
  .bento{
    grid-template-columns: 1fr;
    grid-template-areas: none;
  }
  .bento_item{ grid-area:auto; }
  .bento_item .card:not(.card--mediaOnly){
    grid-template-columns: 1fr;
    grid-template-areas:
      "title"
      "text"
      "media"
      "cta";
  }
  .card_media{ min-height:140px; }
}


