/* general component */
.testimonial{ 
    max-width: 100svh; 
    margin:0 auto; 
    padding: 1rem 2rem;
}

.testimonial_header{
    text-align: center; 
    margin-bottom: 4rem;
}

/* title sub */
.testimonial_heading{ 
    margin: 0 0 1rem;
}

.testimonial_subtitle{ 
    margin: 0 auto; 
    max-width: 600px;
}

/* column*/

.testimonial_grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    list-style: none;
    padding: 0;
    margin: 1rem 0 0;
}

.testimonial_card{
    background: var(--bg-card);
    border-radius: 1rem;
    padding: 2rem;
    display: grid;
    gap: .5rem;
    min-height: 220px;
}

/*text and avatar */
.testimonial_text {
    margin:0;
    line-height: 1.5;
    font-size: var(--fs-300);
}

.testimonial_person{
    display: grid;
    grid-template-columns: 1rem 1fr;
    gap: 1rem;
    align-items: center;
}

.testimonial_avatar {
    width: 50px;
    height: 50px;
    border-radius: 500px;
    overflow: hidden;
    background: var(--bg);
    
    img {
        width: 100%;
        display: block;
    }
}

.testimonial_meta{
    padding: 2rem;
}

.testimonial_name{
    display: block;
}

.testimonial_role{
    display: block;
    opacity: .5;
}

/* RESPONSIVE */

@media (max-width: 900px) { .testimonial_grid { grid-template-columns: 1fr 1fr; } }
@media (max-width: 640px) { .testimonial_grid { grid-template-columns: 1fr; } }